{% extends "homepage.html" %}

{% block title %}
    Profile - {{ user }}
{% endblock %}

{% block body %}
    <body>
        <h1>User profile: {{ user.username }}</h1>
        {% for photo in user.photos %}
        {% endfor %}
    </body>
    {% if form %}
        <form method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}

            {{ form.photo }}
            {{ form.upload_button }}
        </form>
    {% endif %}
    <img src=" {{ url_for('static', filename='posts_photos/default.jpg') }}">
    <a href="{{ url_for('logout') }}">Exit</a>
{% endblock %}
